/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: lightgrey;
    overflow: hidden;
    font-family: 'Klee One', cursive;
}

.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 60vw;
    height: 70vh;
    margin: 14vh auto;
    border: 2px solid lightgray;
}

.container>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.container>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.container>*:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.container>*:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.container .lSide {
    -ms-grid-row: span 3;
    grid-row-start: span 3;
    overflow: auto;
}

.lSide h3 {
    padding: 15% 20%;
}

.underline {
    border-bottom: 1px dotted lightgrey;
}

.rounds {
    /* padding: 15% 20% 0; */
    width: 60%;
    margin: 10% auto 0;
}

.rounds>input {
    margin-bottom: 10%;
}

.rounds div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
}

.rounds div label{
    width: 67%;
}

.rounds #txt-costumRounds {
    width: 20%;
}

.rtSide {
    border-bottom: 2px solid lightgray;
    border-left: 2px solid lightgray;
    overflow: auto;
}

h1 {
    text-align: center;
    font-size: 3rem;
}
h2{
    text-align: center;
    margin-bottom: 5vh;
}

#result {
    text-align: center;
    margin: 0 10%;
    font-size: .8rem;
}

.rbSide {
    border-left: 2px solid lightgray;
    overflow: hidden;
}

.rbSide input {
    display: block;
    width: 20%;
    margin: 10% auto;
    font-size: 1.5rem;
}

.rbSide button {
    display: block;
    width: 30%;
    height: 15%;
    margin: auto;
    margin-bottom: 3%;
}

#guess-container{
    display: flex;
    width: 40%;
    margin: 5vh auto;
}
#guess-container input{
    background-color: lightgray;
    width: 3vw;
    height: 3vh;
}